$output-bourbon-deprecation-warnings: false;

html {

	// @include grid-visual;
	@include grid-container;

	font-family: $font-stack;

}

/* Sections
   ========================================================================== */

body {

}

article,
aside,
footer,
header,
nav,
section {
	margin: 0;
	padding: 0;
}

h1 {

}

/* Grouping content
   ========================================================================== */

figcaption,
figure,
main {
	margin: 0;
	padding: 0;
}

hr {

}

pre {

}

ul,
ol {
	margin: 0;
	padding: 0;
}

/* Text-level semantics
   ========================================================================== */

a {

}

abbr {

	&[title] {

	}

}

b,
strong {

}

code,
kbd,
samp {

}

dfn {

}

mark {

}

small {

}

sub {

}

sup {

}

/* Embedded content
   ========================================================================== */

audio,
video {

}

audio {

	&:not([controls]) {

	}

}

img {

}

svg {

	&:not(:root) {

	}

}

/* Forms
   ========================================================================== */

button,
input,
optgroup,
select,
textarea {

}

button {

}

fieldset {

}

legend {

}

progress {

}

/* Interactive
   ========================================================================== */

details,
menu {

}

summary {

}

/* Scripting
   ========================================================================== */

canvas {

}

template {

}

/* Hidden
   ========================================================================== */

[hidden] {

}
