$output-bourbon-deprecation-warnings: false;

html {

	// @include grid-visual;
	@include grid-container;

	font-family: $font-stack-open;

}

/* Sections
   ========================================================================== */

body {

}

article,
aside,
footer,
header,
nav,
section {
	margin: 0;
	padding: 0;
}

h1 {

	@include grid-media($tablet-screen-up) {
		font-size: rem(60);
	}

	font-family: $font-stack-arapey, sans-serif;
	font-size: rem(40);
	font-weight: normal;

}

h2 {

	@include grid-media($tablet-screen-up) {
		font-size: rem(60);
	}

	// font-family: $font-stack-arapey, $font-stack-open, sans-serif;
	font-size: rem(40);
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 0;

}

h3 {
	font-family: $font-stack-open;
}

h4 {
	font-family: $font-stack-open;
}

/* Grouping content
   ========================================================================== */

figcaption,
figure,
main {
	margin: 0;
	padding: 0;
}

hr {

}

pre {

}

ul,
ol {
	margin: 0;
	padding: 0;
}

/* Text-level semantics
   ========================================================================== */

a {

}

abbr {

	&[title] {

	}

}

b,
strong {

}

code,
kbd,
samp {

}

dfn {

}

mark {

}

small {

}

sub {

}

sup {

}

/* Embedded content
   ========================================================================== */

audio,
video {

}

audio {

	&:not([controls]) {

	}

}

img {

}

svg {

	&:not(:root) {

	}

}

/* Forms
   ========================================================================== */

button,
input,
optgroup,
select,
textarea {

}

button {

}

fieldset {

}

legend {

}

progress {

}

/* Interactive
   ========================================================================== */

details,
menu {

}

summary {

}

/* Scripting
   ========================================================================== */

canvas {

}

template {

}

/* Hidden
   ========================================================================== */

[hidden] {

}
