$output-bourbon-deprecation-warnings: false;

//Colors
$viking-primary-blue:				#027dc3;
$viking-secondary-blue:				#71cff3;
$viking-tertiary-blue:				#17468e;
$white:								#fff;
$black:								#000;
$black2:							#999;
$black3:							#333;
$grey1:								#999;
$grey2:								#333;
$grey3:								#efefef;
$grey4:								#dde2ef;

$copy:								$grey2;
$button-secondary-border:			$grey2;
$button-secondary-color:			$grey2;
$button-disabled-border:			#cce5f3;
$button-disabled-color:				#cce5f3;

//Forms
$input-border-color-initial:		#dde2ef;
$input-color-initial:				#dde2ef;
$input-color-focus:					#576077;

$input-border-color-success:		#43cb83;
$input-border-color-error:			#c30019;
$input-border-color-disabled:		#dde2ef;
$input-color-disabled:				#dde2ef;
$input-background-color-disabled:	#f4f5f9;
