$output-bourbon-deprecation-warnings: false;

//Fonts - Google fonts api key AIzaSyCgnQ_LVoVc7m1ZuqcAuzJHn3R4CcBUubo
$font-stack-arapey: 'Arapey', sans-serif;
$font-stack-open: 'Open Sans', sans-serif;
