@import 'neat';

$medium-screen-big: '(min-width: 737px)';
$medium-screen-little: '(max-width: 1199px)';
$desktop-up: '(min-width: 1200px)';

$neat-grid: (
	columns: 12,
	gutter: 20px
);

//For styles tablet all the way up to desktop
$tablet-screen-up: (
	media: $medium-screen-big
);

//For styles in between tablet and desktop
$desktop-screen-down: (
	media: $medium-screen-little
);

//For styles in between tablet and desktop
$desktop-screen-up: (
	media: $desktop-up
);
