<template>

	<style>

		@@style

	</style>

	<ul style="list-style-type: none;">
		<li><a href="/" rel="external">Click Me Please</a></li>
		<li><a href="#">Click me</a></li>
		<li><a href="#">Click me</a></li>
		<li><a href="#" rel="external">Click Me Too</a></li>
		<li><a href="#">Click me</a></li>
		<li><a href="#">Click me</a></li>
		<li><a href="#">Click me</a></li>
		<li><a href="#">Click me</a></li>
		<li><a href="#">Click me</a></li>
		<li><a href="#">Click me</a></li>
		<li><a href="#">Click me</a></li>
		<li><a href="#">Click me</a></li>
	</ul>

</template>
<script>

	@@script

</script>