.accordion {
	box-shadow: 0 10px 6px -6px $gray5;
	height: 320px;
	margin: 20px auto;
	overflow: hidden;
	width: 895px;

	ul {
		width: 200%;

		li {
			box-shadow: 0 0 30px 8px $gray6;
			display: block;
			float: left;
			position: relative;
			transition: all .4s ease .3ms;
			width: 160px;

			:hover {
				width: 640px;
			}

		}

		:hover {
			li {
				width: 40px;
			}
		}

	}

}

// sass-lint:disable no-color-literals
.caption {
	background: rgba(0, 0, 0, .5);
	bottom: 0;
	position: absolute;
	width: 640px;

	a {
		color: $white;
		display: block;
		font: normal 16px 'Lato', Helvetica, Arial, sans-serif;
		padding: 15px;
		text-decoration: none;
	}
}
