$output-bourbon-deprecation-warnings: false;

// form styles
form,
fieldset,
legend {
	border: 0;
	margin: 0;
	padding: 0;

	fieldset {
		border: 0;
	}

}

legend {
	display: none;
}

label {
	font-size: 12px;

	&[for='globaleSearch'] {
		display: none;
	}

}

input,
textarea,
select {
	border: 1px solid $color-StrokesRules;
	font-size: 12px;
	margin: 0;
}

[type='text'],
[type='password'],
[type='email'],
[type='number'],
[type='tel'],
[type='url'],
[type='search'],
select {
	height: 30px;
	padding: 0 5px 0 10px;
}

.masthead-banner {

	form {

		@include grid-media($large-phone) {

			margin-top: rem(10);

		}

		margin-top: rem(40);
		position: relative;

		input {
			width: calc(100% - 1em);
		}

	}

}

.element {
	//@include fill-parent;
}

.globale-search-form {

	> fieldset {

		&:first-child {

			position: relative;

			.btn-search {

				width: rem(17);

			}

		}

	}

}
