/*
 * Layout specific styles
 *
 *
 *
*/

@import "bourbon",
		"neat",
		"grid-settings",
		"config",
		"utils";

main{
	margin: rem(20) 0;
	padding: 0;

	@include media($large-phone-down) {
		margin-bottom: rem(40);
	}

}

main,
.util-nav,
.masthead-banner,
.primary-nav,
.breadcrumb-nav,
footer{
	@include outer-container;
}

.primary-nav{
	padding: 0;
	min-height: rem(38);

}

.primary-nav-items{
	background-color: $brand-blue;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	padding: 0;

	@include media($large-phone-down) {
		display: block;
		max-height: rem(36);
		overflow: hidden;
		transition: max-height 0.15s ease-out;

		&.open{
			max-height: 500px;
			transition: max-height 0.25s ease-in;
		}

		li{

			display: block;
			margin-left: rem(20);
			text-align: left;

			&:first-child{
				background-color: inherit;
				margin-left: rem(20);
			}

			&:hover{
				background-color: inherit;
			}

			a{
				color: white;
			}

		}

	}

	li{
		flex-grow: 1;

		a{
			color: $white;
			display: block;
			text-shadow: 0 rem(1) rem(2) $black;

			&:hover{
				text-decoration: none;
				text-shadow: none;
			}

		}

		&:hover{
			background-color: #ccc;

			a{
				color: $brand-blue;
			}

		}

		&.menu-link{
			background-color: inherit;
			color: white;

		}

	}

}

.util-nav{
	@include media($large-phone-down) {

		display: none;

	}

}

.util-nav-items{
	padding: 0;

	@include media($medium-screen-before-break-size) {
		@include span-columns(7);
	}

	@include media($large-phone-down) {

		display: none;

	}

}

.sign-in{

	@include media($medium-screen-before-break-size) {
		@include span-columns(2);
	}

	@include media($large-phone-down) {

		display: none;

	}

}

@include direction-context(right-to-left) {

	.mini-cart{
		margin: 0;

		@include media($medium-screen-before-break-size) {
			@include span-columns(3);
		}

		@include media($large-phone-down) {

			display: none;

		}

	}

}

.masthead-banner{
	padding-bottom: rem(10);

	.logo{
		margin-bottom: 0;
		@include media($medium-screen-before-break-size) {
			@include span-columns(8);
		}

		@include media($large-phone-down) {
			font-size: rem(38);
			margin: rem(10) 0 rem(10) rem(10);
		}

	}

	form{

		@include media($medium-screen-before-break-size) {
			@include span-columns(4);
			margin-top: rem(10);
		}



	}

}

.secondary-nav{

	@include media($medium-screen-before-break-size) {
		@include span-columns(3);
	}

	+ [role="region"]{

		@include media($medium-screen-before-break-size) {
			@include span-columns(9);
		}

		@include media($large-phone-down) {

			margin: 0 rem(10);

		}

	}

}

.breadcrumb-nav-items{
	background-color: $grey2;
	margin-top: rem(10);
	padding: rem(4) rem(20);
	line-height: 2;
}

.two-column-equal{

	[role="region"]{
		@include media($medium-screen-before-break-size) {
			@include span-columns(6);
		}
	}

}

.three-column{

	.secondary-nav{

		ul{
			list-style-type: none;

			li{}

		}

		@include media($medium-screen-before-break-size) {
			@include span-columns(3);
		}

		+ [role="region"]{

			@include media($medium-screen-before-break-size) {
				@include span-columns(6);
			}

			+ [role="complementary"]{

				@include media($medium-screen-before-break-size) {
					@include span-columns(3);
				}

			}

		}

	}

}

.two-column-last{

	[role="main"]{

		> [role="region"]{

			@include media($medium-screen-before-break-size) {
				@include span-columns(9);
			}

			+ [role="complementary"]{
				margin-top: rem(20);

				@include media($medium-screen-before-break-size) {
					@include span-columns(3);
				}

			}

		}

	}

}

.two-column-first{

	.secondary-nav{

		@include media($medium-screen-before-break-size) {
			@include span-columns(3);
		}

		+ [role="region"]{

			@include media($medium-screen-before-break-size) {
				@include span-columns(9);
			}

		}

		@include media($large-phone-down) {

			display: none;

		}

	}

}

.two-column-first-four-content{

	.secondary-nav{

		@include media($medium-screen-before-break-size) {
			@include span-columns(3);
		}

		+ [role="region"]{

			@include media($medium-screen-before-break-size) {
				@include span-columns(9);
			}

			> div{

				@include media($medium-screen-before-break-size) {
					@include span-columns(3);
				}

			}

/* 			> div:first-child{

				@include media($medium-screen-before-break-size) {
					@include span-columns(6);
				}

			}			 */

		}

	}

}

.two-column-first-three-content{

	.secondary-nav{

		@include media($medium-screen-before-break-size) {
			@include span-columns(3);
		}

		+ [role="region"]{

			@include media($medium-screen-before-break-size) {
				@include span-columns(9);
			}

			> div{

				@include media($medium-screen-before-break-size) {
					@include span-columns(4);
				}

			}

		}

	}

}

footer[role="contentinfo"]{
	border-top: rem(1) solid $grey2;
	margin-top: rem(20);
	padding: rem(10) 0;

	@include media($large-phone-down) {
		background-color: $white;
		position: fixed;
		bottom: 0;
		padding-left: rem(10);
		width: 100%;
	}

}


.menu-link{
	display: none;
	@include media($large-phone-down) {
		display: list-item;
	}
}
