// Clearfix
@mixin clearfix() {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}

}

// border radius
@mixin border-radius($radius) {
	background-clip: padding-box;  // stops bg color from leaking outside the border:
	border: 0;
	border-radius: $radius;
}

// Single side border-radius
@mixin border-top-radius($radius) {
	background-clip: padding-box;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin border-right-radius($radius) {
	background-clip: padding-box;
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
	background-clip: padding-box;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin border-left-radius($radius) {
	background-clip: padding-box;
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		box-shadow: inset $top $left $blur $color;
	} @else {
		box-shadow: $top $left $blur $color;
	}
}

// opacity
@mixin opacity($opacity) {
	filter: alpha(opacity=$opacity-ie); //IE8
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
}

// Shapes
@mixin circle($diameter, $color) {
	background-color: $color;
	border-radius: $diameter / 2;
	height: $diameter;
	width: $diameter;
}

@mixin triangle($dir, $size, $color) {

	height: 0;
	width: 0;

	@if $dir == up {
		border-bottom: $size solid $color;
		border-left: $size/2 solid transparent;
		border-right: $size/2 solid transparent;
	} @else if $dir == down {
		border-left: $size/2 solid transparent;
		border-right: $size/2 solid transparent;
		border-top: $size solid $color;
	} @else if $dir == left {
		border-bottom: $size/2 solid transparent;
		border-right: $size solid $color;
		border-top: $size/2 solid transparent;
	} @else if $dir == right {
		border-bottom: $size/2 solid transparent;
		border-left: $size solid $color;
		border-top: $size/2 solid transparent;
	}
}

// Placeholder text styles
// sass-lint:disable no-vendor-prefixes
@mixin placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder		   {@content}
	::-moz-placeholder		  {@content}
	:-ms-input-placeholder	  {@content}
}

@include placeholder {
	color: $black;
	font-style: italic;
	font-weight: 100;
}

@mixin iso-triangle($dir, $size, $color) {
	@if $dir == up {
		content: '\25b2';
	} @else if $dir == down {
		content: '\25bc';
	} @else if $dir == left {
		content: '\25C0';
	} @else if $dir == right {
		content: '\25b6';
	}

	color: $color;
	font-size: $size;

}

@mixin text-replace($val) {
	text-indent: $val;
}

// Tabs
@mixin tab($width, $height, $spacing, $bg-color, $font-color, $font-size, $font-weight, $hover-color, $borderradius) {

	list-style: none;
	margin: 0;
	padding: 0;

	& li {
		background: $bg-color;
		border-top-left-radius: $borderradius;
		border-top-right-radius: $borderradius;
		color: $font-color;
		display: table;
		float: left;
		font-size: $font-size;
		font-weight: $font-weight;
		height: $height;
		margin-right: $spacing;
		text-align: center;
		vertical-align: middle;
		width: $width;

		&:last-child {
			margin-left: 0;
		}

		&:hover {
			background: $hover-color;
			border: 1px solid $light-blue;
			color: $white;
		}

	}
}
