.masthead-styleguide-banner,
main {
	@include grid-visual;
	// @include grid-container;

	@include grid-media($large-phone) {
		// @include grid-visual;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	margin: 0 auto;
	width: 1080px;

}

.logo {

	@include grid-media($large-phone) {
		// @include grid-visual;
		font-size: 20vw;
		text-align: center;
	}

	font-size: rem(128);
}


main {

	@include grid-media($large-phone) {
		// @include grid-visual;
		padding: rem(20);
	}

}

.full-bleed {

	@include grid-media($large-screen) {
		// @include grid-visual;
		margin: rem(0);
	}

	background-color: $grey2;
	height: rem(300);
	margin-left: calc(-100vw / 2 + 1080px / 2);
	margin-right: calc(-100vw / 2 + 1080px / 2);
	padding: rem(20);
}
