@import "bourbon",
		"neat",
		"grid-settings",
		"config",
		"utils",
		"base",
		"layout",
		"forms";

body{

}

main{
	padding: 0;

	@include media($large-phone-down) {
		margin-left: rem(20);
		margin-right: rem(20);
	}

	& p:last-child,
	& hr{
		display: none;
	}

}

.masthead-banner{
	background-color: $brand-blue;

	.logo{
		margin-left: rem(20);

		a{
			color: $white;
			text-shadow: 0 rem(2) rem(2) $black;
		}

	}

}

section{
	margin-bottom: rem(20);

	.key,
	.file{
		background-color: $light-blue;
		color: $white;
		display: block;
		padding: rem(6) rem(10);
	}

	h2{
		background-color: $red4;
		color: $white;
		margin-bottom: 0;
		padding: rem(10);
		word-break: break-all;
	}

	.element,
	.extract,
	p{
		background-color: #eee;
		display: block;
		border-left: rem(1) solid $grey2;
		border-right: rem(1) solid $grey2;
		border-top: rem(1) solid $grey2;
		margin: 0;
		padding: rem(20) rem(10);
	}

	p{
		border-bottom: rem(1) solid $grey2;
		border-top: none;
		font-style: italic;
		padding: 0 rem(10) rem(10) rem(10);
	}

}

.parker-report{

	h3{
		border-bottom: 1px solid #ccc;
		margin: 0 0 rem(20) 0;
		padding-bottom: 10px;
	}

	ul{
		line-height: 2;
		margin-bottom: rem(20);

		li{
			font-style: italic;
			margin-left: rem(10);

			strong{

				font-style: normal;

			}

		}

	}

}