$output-bourbon-deprecation-warnings: false;

/* Component Specific Styles
	========================================================================== */

@import
'bourbon',
'neat',
'0-settings/grid-settings';

/* CLP Specific Styles
   ========================================================================== */

.clp {

	.hero {

		h1 {

			@include grid-media($tablet-screen-up) {

			}

			text-align: center;

		}

		ul {

			list-style-type: none;

			li {

				display: inline-block;

			}

		}

		margin-bottom: rem(20);
		margin-top: rem(20);

	}

	.categories {

		@include grid-media($tablet-screen-up) {
			margin-left: calc(-100vw / 2 + 1200px / 2);
			margin-right: calc(-100vw / 2 + 1200px / 2);
		}

		@include grid-media($desktop-screen-down) {
			margin: 0 auto;
			width: 100%;
		}

		h2 {

			@include grid-media($tablet-screen-up) {
				margin: 0 auto;
				max-width: rem(1200);
			}

			font-size: rem(14);
			text-align: left;
			text-transform: uppercase;

		}

		ul {

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			list-style-type: none;

			li {

				width: rem(150);

			}

		}

		background-color: $gray7;
		margin-bottom: rem(40);
		margin-top: rem(40);
		padding: 20px 0 50px;
		//width: 100%;

	}

	.gallery {

		@include grid-media($tablet-screen-up) {
			padding: 0;
		}

		h2 {

			&.standard {
				font-family: $font-stack-open;
				font-size: rem(40);
			}

			&.vanity {
				font-family: $font-stack-arapey;
				font-size: rem(40);
			}

			text-align: left;

		}

		figure {

			align-content: flex-start;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			figcaption {

				@include grid-media($tablet-screen-up) {
					padding-right: 20px;
					width: calc(50% - 20px);
				}

				font-size: rem(14);
				font-weight: 300;
				line-height: 1.75;
				margin-bottom: rem(20);
				order: 1;

				.button-alternate {

					@include grid-media($tablet-screen-up) {
						display: block;
						height: rem(20);
						margin-top: rem(20);
						width: rem(120);
					}

					display: none;

				}

			}

			.thumbs {

				@include grid-media($tablet-screen-up) {
					width: 50%;
				}

				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				height: auto;
				order: 2;
				width: 100%;

				img {

					&:first-child {

						height: 100%;
						margin-right: 10px;
						width: calc(50% - 10px);

					}

					&:nth-child(2) {

						height: 30%;
						margin-bottom: 10px;
						width: 50%;

					}

					&:last-child {

						height: calc(70% - 10px);
						width: 50%;

					}

				}

			}

			.button-alternate {

				@include grid-media($tablet-screen-up) {
					display: none;
				}

				display: inline-block;
				height: rem(20);
				margin-top: rem(20);
				order: 3;
				width: rem(120);

			}

		}

		margin-bottom: rem(40);
		margin-top: rem(40);
		padding: 0 rem(40);

	}

	.testimonials {

		@include grid-media($tablet-screen-up) {
			margin-left: calc(-100vw / 2 + 1200px / 2);
			margin-right: calc(-100vw / 2 + 1200px / 2);
		}

		@include grid-media($desktop-screen-down) {
			margin: 0 auto;
			width: 100%;
		}

		h2 {

			font-family: $font-stack-arapey, sans-serif;
			font-size: rem(40);
			padding: rem(20) 0;
			text-align: center;

		}

		ul {

			@include grid-media($tablet-screen-up) {
				margin: 0 auto;
				max-width: rem(1200);
			}

			list-style-type: none;

			li {

				text-align: center;

				blockquote {

					q {

						display: inline-block;
						font-style: italic;
						font-weight: 800;
						line-height: 1.8;
						padding-bottom: rem(10);
					}

					footer {

						font-size: rem(11);
						text-transform: uppercase;

						span {
							text-transform: none;
						}
					}

				}

			}

		}

		background-color: $gray7;
		margin-bottom: rem(40);
		margin-top: rem(40);
		padding: 20px 0 50px;

	}

	.brochures {

		h2 {

			font-size: rem(14);
			text-align: left;
			text-transform: uppercase;

		}

		ul {

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			list-style-type: none;

			li {

				img {
					width: 100%;
				}

			}

		}

		margin-bottom: rem(40);
		margin-top: rem(40);

	}

}
